<!--Background Image-->
<div id="background">
  <img class="image" src="assets/images/background.jpg"/>
</div>

<div id="container">

    <div id="pasta-content">
        <div id="left-content-left">
            <h1>Pastasalade</h1>
            <p>Koude salade gemaakt met als belangrijkste ingredient pasta.</p>
            <p id="creator">door Frederique <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
        </div>
    </div>

    <div id="pigs-content">
      <div id="left-content-left">
        <h1>Pigs in blanket</h1>
        <p>Worstjes in bladerdeeg</p>
        <p id="creator">door Casper <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="smeersels-content">
      <div id="left-content-left">
        <h1>Stokbrood</h1>
        <p>Met diverse smeersels</p>
        <p id="creator">door Jaimy <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="beenham-content">
      <div id="left-content-left">
        <h1>Beenham</h1>
        <p>Varkensvlees 1.5 uur gebraden met honing mosterd dressing</p>
        <p id="creator">door Hans <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>
    <div id="cheesecake-content">
      <div id="left-content-left">
        <h1>Cheesecake</h1>
        <p>met stukjes kaas</p>
        <p id="creator">door Rowie <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="chocolade-content">
      <div id="left-content-left">
        <h1>Witte chocolade dessert</h1>
        <p>Desert gemaakt van witte chocolade</p>
        <p id="creator">door Kim <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="empanadas-content">
      <div id="left-content-left">
        <h1>Empanadas</h1>
        <p>iets spaans?</p>
        <p id="creator">door Sanne <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="chicken-content">
      <div id="left-content-left">
        <h1>Chicken under the hood</h1>
        <p>Kijk onder de tafel.</p>
        <p id="creator">door Chris <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="wraps-content">
      <div id="left-content-left">
        <h1>Gevulde wraps</h1>
        <p>Diverse gevulde wraps</p>
        <p id="creator">door Mark <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>

    <div id="hartig-content">
      <div id="left-content-left">
        <h1>Hartige taart</h1>
        <p>Hartige taart met brocoli en ham</p>
        <p id="creator">door Luuk <img id="flame-icon" src="assets/images/icon-fire.png"/></p>
    </div>
    </div>
</div>